* {
    margin: 0;
    box-sizing: border-box;

}

.container {
    max-width: 1280px;
    margin: auto;
}

header {
    background-color: blue;
    padding: 10px 0px;
    position:sticky;
    top: 0px;
}

.logo img{
    font-weight: bolder;
    font-size: 10px;
    height: 50px;
    position: inherit;
}

ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.inner-header{
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sub-menu-items{
    display:none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -200px;
    background-color: palevioletred;

}

.menu-item{
    position: relative;
}

.menu-item:hover{
    cursor: pointer;
    color: aqua;
}

.menu-item:hover .sub-menu-items{
    display: flex;

}

.item{
    display: none;
}

.sub-menu-items:hover .item{
    display: flex;
    background-color: brown;
    flex-direction: column;
}

ol{
    list-style: none;
}




