header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(235, 243, 236);
    height: 30px;
}

.logo img{
    height: 50px;
    width: 100%;
    border-radius:100%;
}

.sub-items{
    display: none;
    flex-direction: column;
}

.header-item{
    position: relative;
}

.header-item:hover{
    cursor: pointer;
}

.header-item:hover .sub-items{
    display: flex !important;
}

.header-item .sub-items{
    /* display: none !important; */
    flex-direction: column;
    background-color: rgb(61, 241, 6);
    position: absolute;
}

.right-up-image{
    display: flex;
    align-items: flex-end;
    justify-content: right;

}

.right-up-image img{
    height: 100px;
    width: 100px;
    border-radius:100%;
    
}

.contents{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.main-content{
    display: flex;    
    background-color: aqua;
    height: 700px;
}

.left-content{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: blue;
    align-items: center;
}

.left-up{
    background-color: yellow;
    height: 15%;
    justify-content:space-around ;
    display: flex;
    align-items: center;
    padding: 10px;
    
}

.left-up-items{
    display: flex;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background-color:white ;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.left-down{
    display: flex;
    width:100%;
    background-color: red;
    height:75%;
    justify-content: flex-end;
}

.left-down-right{
    display: flex;
    width: 40%;
    background-color:rgb(22, 2, 2) ;
    justify-content:center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.left-down-right-items{
    height: 50px;
    width: 50px;
    background-color:rgb(255, 255, 255) ;
}

.right-content{
    display: flex;
    width:100%;
    background-color: pink;
}

.right-right{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    
}

.right-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.right-up{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.right-down{
    display:flex;
    background-color: antiquewhite;
    height: 100%;
    justify-content: center;
    align-items: center;
}

